.logo {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style:bold;
    margin: 0px;
    border: 0px;
    padding: 5px;
}

.opening {
    font-style: italic;
    font-stretch: narrower;
}



.p1{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    align-content: flex-start;
    text-align: justify;
}
.image {
    /* margin-left: 10px; */
    margin-right: 10px;
}

.image1 {
    align-content: center;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 20px;
    vertical-align: 50%;
    
}

/* .wspeed, .hum   {
    margin-right: 5%;
}

.temp,.clou {
    margin-left: 5%;
} */






